.body-head .body-tittle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  color: #000000;
}

.body-head p {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  height: 24px;
}

.body-container {
  display: flex;
  padding: 48px 36px;
}

.body-container .product-filter {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 285px;
}

.body-container .product-filter p {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.product-name-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.product-filter .product-name {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: #f5f5f5;
}

.product-filter .component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.product-filter .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  justify-content: center;
}

.product-filter {
  padding: 15px;
  border-radius: 5px;
  border: 1px black solid;
}

.list-component {
  display: flex;
  gap: 12px;
  height: 24px;
}

.list-component .list-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #707072;
  background: #f5f5f5;
}

.list-component p {
  color: #000;
  font-size: 16px;
  font-weight: 400 !important;
  height: 24px;
}

p.title{
  width: 100%;
}
.component-container {
  position: relative;
  width: 100%;
}


.component-container > p::after {
  content: '';
  position: absolute;
  /* display: inline-block; */
  width: 10px;
  height: 3px;
  background: #000;
  right: 0;
  top: 10px;
  transform: rotate(0deg);
}

.component-container > p::before {
  content: '';
  position: absolute;
  /* display: inline-block; */
  width: 10px;
  height: 3px;
  background: #000;
  right: 0;
  top: 10px;
  transform: rotate(90deg);
}

.price {
  color: #000;
  font-size: 16px;
  font-weight: 400 !important;
}

.filter-but {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
}

.body-container .main-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  gap: 20px;
  width: fit-content;
}

.main-content .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 4px;
}

.content-header p {
  margin: 0;
}

.breadcrumb {
  margin: 0 !important;
}

.content-header .breadcrumb-item a {
  color: #000 !important;
}

.content-header .breadcrumb-item.active {
  color: #000;
  font-weight: 600 !important;
  align-self: flex-end;
}

.content-header .sort-info {
  display: flex;
  padding: 0px 12px;
  align-items: center;
  gap: 10px;
}

.sort-content {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.sort-detail {
  color: #707072;
  font-size: 16px;
  font-weight: 400;
}

.sort-icon {
  display: flex;
  width: 12.728px;
  height: 7.778px;
  align-items: flex-start;
  gap: 10px;
}

.row > * {
  padding: 0 !important;
}

.product-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}

.product-container .row {
  margin: 0 !important;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;
  height: 390px;
}

.product-img {
  width: 100%;
}

.product-details {
  display: flex;
  height: fit-content;
  padding: 15px 10px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

.product-details p {
  margin: 0 !important;
}

.product-details .product-name {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.product-details .product-brand {
  color: #707072;
  font-size: 14px;
  font-weight: 500;
}

.product-details .product-price {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.product-details .product-status {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

/*range input*/
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.range_container .sliders_control {
  position: relative;
  min-height: 20px;
}

.range_container .form_control {
  position: relative;
  display: flex;
  gap: 5px;
  color: var(--my-black);
  width: 100%;
}

.range_container .form_control > div {
  width: 100%;
}

.range_container input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

.range_container input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

.range_container input[type='range']::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

.range_container input[type='range']::-webkit-slider-thumb:active {
  box-shadow:
    inset 0 0 3px #387bbe,
    0 0 9px #387bbe;
  -webkit-box-shadow:
    inset 0 0 3px #387bbe,
    0 0 9px #387bbe;
}

.range_container input[type='number'] {
  color: var(--my-black);
  width: 100%;
  height: 30px;
  font-size: 14px;
  border: 1px var(--my-black) solid;
  border-radius: 2px;
}

.range_container input[type='number']::-webkit-inner-spin-button,
.range_container input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.range_container input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}
/*end range input*/
