<div class='container-fluid my-5'id="user-cart" data-user = {{user}}>
  <div class='row mx-0'>
    <div class='col-lg-7'>
      <div class='row fs-1 fw-bold mb-3'>YOUR CART</div>
      <div id="cart"></div>
    </div>
    <div class='col-lg-5 px-5'>
        <button class='btn bg-dark text-white fw-bold w-100 py-3' onclick="checkoutPage()"
          >CHECK OUT
        </button>
      <h4 class='py-3 fw-bold'>ORDER SUMMARY</h4>
      <div class='row'>
        <div class='col'>
            <div id="total-item"></div>
          <div>Delivery</div>
        </div>
        <div class='col right-box'>
          <div id="total-price"></div>
          <div>{{formatPrice 20000}}</div>
        </div>
      </div>
      <div class='row fw-bold py-3'>
        <div class='col'>
          <div>Total</div>
        </div>
        <div class='col right-box'>
            <div id="total"></div>
        </div>
      </div>
    </div>
  </div>
</div>


{{#section 'scripts'}}
  <script src='/js/customer-cart.js'></script>
  <script src='/js/hbsHelpers.js'></script>
{{/section}}
