<p class="forgot-password-title">forgot password</p>

<form id='form-forgot-password'>
  <div class='mb-3'>
    <label for='username-forgot-password' class='form-label'>Username</label>
    <input
      id='username-forgot-password'
      name='username'
      type='text'
      class='form-control fs-6'
      placeholder='Enter username to reset password'
      required
    />
  </div>
  <button
    class='btn btn-lg btn-dark w-20 fs-6 mx-auto'
    type='submit'
  >Submit
  </button>
</form>

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toast-forgot" class="toast error" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <div class="icon-toast"></div>
      <strong class="me-auto">Forgot password</strong>
      <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close"><i class="ri-close-line"></i></button>
    </div>
    <div class="toast-body">
    </div>
  </div>
</div>

{{#section 'scripts'}}
  <script src='/js/customer-login.js'></script>
{{/section}}