<div class='container'>
  <h1 class='title fw-bold text-center my-5'>YOUR ORDERS</h1>

  <div
    class='row orderView my-4'
    data-toggle='modal'
    data-target='#detailModal'
  >
    <div class='row fs-5'>
      <div class='d-inline-flex justify-content-between'>
        <div class='time fw-bold'>Date | Time</div>
        <div class='status text-muted'>Pending</div>
      </div>
    </div>

    <hr class='my-3 bg-black' />

    <div class='row order-detail'>
      <div class='d-inline-flex justify-content-between'>
        <div class='order-name'>Item</div>
        <div class='order-price'>2,000,000 đ</div>
      </div>
      <div class='d-inline-flex justify-content-between'>
        <div class='order-name'>Item</div>
        <div class='order-price'>2,000,000 đ</div>
      </div>
    </div>

    <hr class='my-3 bg-black' />

    <div class='row fs-5'>
      <div class='total-price fw-bold'>2,000,000 đ</div>
    </div>
  </div>

  <div
    class='row orderView my-4'
    data-toggle='modal'
    data-target='#detailModal'
  >
    <div class='row fs-5'>
      <div class='d-inline-flex justify-content-between rounded'>
        <div class='time fw-bold'>Date | Time</div>
        <div class='status text-muted'>Pending</div>
      </div>
    </div>

    <hr class='my-3 bg-black' />

    <div class='row order-detail'>
      <div class='d-inline-flex justify-content-between'>
        <div class='order-name'>Item</div>
        <div class='order-price'>2,000,000 đ</div>
      </div>
      <div class='d-inline-flex justify-content-between'>
        <div class='order-name'>Item</div>
        <div class='order-price'>2,000,000 đ</div>
      </div>
    </div>

    <hr class='my-3 bg-black' />

    <div class='row fs-5'>
      <div class='total-price fw-bold'>2,000,000 đ</div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='detailModal'
  tabindex='-1'
  role='dialog'
  aria-labelledby='detailModalTitle'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-body'>

        <div class='container'>
          <div class='d-flex flew-row justify-content-between'>
            <h3 class='fw-bold mb-3'>Date | Time</h3>
            <button
              type='button'
              class='btn-close'
              data-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>
          <div class='status text-muted'>Pending</div>
          <div>
            <small class='fw-bold'>Address:</small>
            <small>123 Vuon Lai, HCMC</small>
          </div>

          <hr class='my-3 bg-black' />

          <div>
            <div class='fw-bold'>ORDER SUMMARY:</div>
            <div class='row'>
              <div class='col d-inline-flex'>
                <div class='number-item text-muted'>1x</div>
                <div class='item-info flex-column'>
                  <div class='item-name'>Item Name</div>
                  <div class='item-property d-inline-flex flex-row'>
                    <div class='color-item m-0'></div>
                    <div class='size-item m-0'>│ Size: M</div>
                  </div>
                </div>
              </div>
              <div class='d-flex justify-content-end price col'>
                1,000,000 đ
              </div>
            </div>
            <div class='row'>
              <div class='col d-inline-flex'>
                <div class='number-item text-muted'>1x</div>
                <div class='item-info flex-column'>
                  <div class='item-name'>Item Name</div>
                  <div class='item-property d-inline-flex flex-row'>
                    <div class='color-item m-0'></div>
                    <div class='size-item m-0'>│ Size: M</div>
                  </div>
                </div>
              </div>
              <div class='d-flex justify-content-end price col'>
                1,000,000 đ
              </div>
            </div>
          </div>

          <hr class='my-3 bg-black' />

          <div class='d-flex flex-row justify-content-between'>
            <div class='title'>Subtotal</div>
            <div>2,000,000 đ</div>
          </div>

          <div class='d-flex flex-row justify-content-between'>
            <div class='title'>Delivery</div>
            <div>0 đ</div>
          </div>

          <div class='d-flex flex-row justify-content-between mt-3'>
            <div class='title fw-bold'>TOTAL COST</div>
            <div>2,000,000 đ</div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>