<p class="forgot-password-title">reset password</p>

<form data-user-id={{user._id}} id='form-reset-password'>
  <div class='mb-3'>
    <label for='new-password' class='form-label'>New password
    </label>
    <input
      type='password'
      class='form-control fs-6'
      placeholder='Enter new password'
      id='new-password'
      name='new-password'
      required
      onchange="checkValidPassword(this.value)"
      title='Please enter with both letters and numbers, and a minimum of 8 characters.'
      aria-describedby="feedback-new-password"
    />
    <div id='feedback-new-password' class="invalid-feedback"></div>
  </div>
  <button
    class='btn btn-lg btn-dark w-20 fs-6 mx-auto'
    type='submit'
  >Submit
  </button>
</form>

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toast-reset" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <div class="icon-toast"></div>
      <strong class="me-auto">Reset password</strong>
      <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close"><i class="ri-close-line"></i></button>
    </div>
    <div class="toast-body">
    </div>
  </div>
</div>

{{#section 'scripts'}}
  <script src='/js/customer-login.js'></script>
{{/section}}