.container-fluid{
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.card.mb-4 {
    width: 100%;
}

.cards .card{
    display: flex;
    width: 230px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.10);
    gap: 10px;
}

.cards .card .card-content{
    color: #B9BBBD;
    font-size: 16px;
    font-weight: 500;
}

.cards .card .small{
    color: #111;
    font-size: 24px;
    font-weight: 600;
    text-decoration-line: none;
}

.cards .card .small .d{
    color: #111;
    text-decoration-line: underline;
}

.card .card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background-color: white;
    border-bottom: none;
}

.card-header .tableName{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-body thead{
    background-color: #B9BBBD5A;
}