<div class='home-content'>
  <div class='banner-section row mx-0'>
    <div class='left-box-img col col-md p-0'>
      <div class='brand-banner p-0'>
        <img src='assets/img/nike.png' alt='nike shoes' />
        <a href='/products?brand=nike'><small class='brand-title-banner'>NIKE</small></a>
      </div>
    </div>
    <div class='right-box-img col-md p-0'>
      <div class='brand-banner p-0'>
        <img src='assets/img/new-balance.png' alt='new balance shoes' />
        <a href='/products?brand=newbalance'><small class='brand-title-banner'>NEW BALANCE</small></a>
      </div>
      <div class='brand-banner p-0'>
        <img src='assets/img/adidas.png' alt='adidas shoes' />
        <a href='/products?brand=adidas'><small class='brand-title-banner'>ADIDAS</small></a>
      </div>
    </div>
  </div>

  <div class='info container-fluid'>
    <div class='row p-4'>
      <div class='col-md'>
        <img class='mr-2' src='assets/img/truck.svg' alt='' />
        <div class='text'>
          <small class='title font-weight-bold mb-2'>COD SHIPPING NATIONWIDE</small>
          <p>Free shipping nationwide for orders from 999,000 VND.</p>
        </div>
      </div>
      <div class='col-md'>
        <img class='mr-2' src='assets/img/title.svg' alt='' />
        <div class='text'>
          <small class='title font-weight-bold mb-2'>100% QUALITY</small>
          <p>Committed to genuine products.</p>
        </div>
      </div>
      <div class='col-md'>
        <img src='assets/img/card.svg' alt='' />
        <div class='text'>
          <small class='title font-weight-bold mb-2'>EASY PAYMENT</small>
          <p>Payment methods are diverse and extremely convenient.</p>
        </div>
      </div>
      <div class='col-md'>
        <img src='assets/img/hourglass.svg' alt='' />
        <div class='text'>
          <small class='title font-weight-bold mb-2'>SAVE TIME</small>
          <p>Online shopping is easier.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='container p-0'>
    <div class='fs-2 fw-bold mb-4'>F E A T U R E D</div>

    <div class='sample-featured row'>
      {{#each featuredProducts}}
        <div class='col p-0 mx-2'>
          <img src='assets/img/nike-sample.png' alt='' />
          <div class='detail p-2 '>
            <p>{{this.name}}</p>
            <p class='product-manufacturer'>{{this.manufacturer}}</p>
            <p class="price-unit">{{this.price}} đ</p>
            <p>{{this.status}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class='brand-container container'>
    <div class='row py-3'>
      <div class='col d-flex justify-content-center'>
        <img class='mr-2' src='assets/img/adidas-logo.png' alt='' />
      </div>
      <div class='col d-flex justify-content-center'>
        <img class='mr-2' src='assets/img/nike-logo.png' alt='' />
      </div>
      <div class='col d-flex justify-content-center'>
        <img class='mr-2' src='assets/img/newbalance-logo.png' alt='' />
      </div>
      <div class='col d-flex justify-content-center'>
        <img class='mr-2' src='assets/img/converse-logo.png' alt='' />
      </div>
      <div class='col d-flex justify-content-center'>
        <img class='mr-2' src='assets/img/vans-logo.png' alt='' />
      </div>
    </div>
  </div>
</div>