<div class='container-fluid mx-0'>
  <div class='body-head'>
    <p class='body-tittle'>MEN</p>
  </div>
  <div class='body-container'>
    <div class='product-filter'>
      <p>Filters</p>
      <div class='product-name-block'>
        <p>Product name</p>
        <input class='product-name' />
      </div>
      <div class='component'>
        <p>Category</p>
        <div class='list'>
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' />
            <p>Slides</p>
          </div>
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' />
            <p>Running shoes</p>
          </div>
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' />
            <p>Sneakers</p>
          </div>
        </div>
      </div>
      <div class='component'>
        <p>Brand</p>
        <div class='list'>
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' />
            <p>Nike</p>
          </div>
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' />
            <p>Adidas</p>
          </div>
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' />
            <p>New Balance</p>
          </div>
        </div>
      </div>
      <div class='component'>
        <p>Price</p>

        <div class='range_container'>
          <div class='sliders_control'>
            <input
              id='fromSlider'
              type='range'
              value='100000'
              min='100000'
              max='9000000'
            />
            <input
              id='toSlider'
              type='range'
              value='9000000'
              min='100000'
              max='9000000'
            />
          </div>
          <div class='form_control'>
            <div class='form_control_container'>
              <input
                class=''
                type='number'
                id='fromInput'
                value='100000'
                min='100000'
                max='9000000'
              />
            </div>
            <div class='form_control_container'>
              <input
                class=''
                type='number'
                id='toInput'
                value='9000000'
                min='100000'
                max='9000000'
              />
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class='main-content'>
      <div class='content-header'>
        <nav aria-label='breadcrumb'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item active' aria-current='page'><a
              >Men</a></li>
          </ol>
        </nav>
        <div class='sort-info'>
          <label for='sort-products'>Sort by: </label>
          <select id='sort-products' name='sort-options'>
            <option value='none'>None</option>
            <option value='newest'>Newest</option>
            <option value='oldest'>Oldest</option>
            <option value='low-high'>Low price - High price</option>
            <option value='high-low'>High price - Low price</option>
          </select>
        </div>
      </div>
      <div class='product-container'>
        <div class='row row-cols-4 row-col-md-1'>
          <div class='col'>
            <div class='product mx-1 my-2'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='product mx-1 my-1'>
              <img class='product-img' src='/assets/img/product.png' />
              <div class='product-details'>
                <p class='product-name'>Nike Dunk Low</p>
                <p class='product-branch'>Nike</p>
                <p class='product-price'>3,829,000 ₫</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src='js/range-price.js'></script>