<div class='container'>
  <h1 class='title fw-bold text-center my-5'>YOUR PROFILE</h1>

  <div class='row my-5'>
    <div class='col-auto'>
      <img
        src='https://via.placeholder.com/50'
        alt='Avatar'
        class='img-fluid avatar'
      />
    </div>
    <div class='col d-flex align-items-center'>
      <h4 class='mb-0'>John Doe</h4>
    </div>
  </div>

</div>