<div class="container my-5">
    <div class="row">
        <div class="col-lg-7">
            <div class="row fs-1 fw-bold mb-3">YOUR CART</div>
            <div class="item row my-3">
                <!-- cart images div -->
                <div class="col-md-3 p-0">
                    <img src="img/nike-sample.png" class="img-fluid" alt="cart img" />
                </div>

                <!-- cart product details -->
                <div class="col-md-9 mx-auto px-4 mt-2">
                    <div class="row h-100">
                        <!-- product name  -->
                        <div class="left-box-info col-6 card-title">
                            <p class="mb-3 fw-bold">Nike Dunk Low Retro Premium</p>
                            <div class="info">
                                <p class="mb-3">Color: Silver</p>
                                <p class="mb-3">Size: 40.5</p>
                                <p class="mb-3">Quantity: 1</p>
                            </div>
                        </div>
                        <div class="right-box-info col-6">
                            <div>3,519,000₫</div>
                            <img class="mb-3" src="img/trash-icon.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="item row my-3">
                <!-- cart images div -->
                <div class="col-md-3 p-0">
                    <img src="img/nike-sample.png" class="img-fluid" alt="cart img" />
                </div>

                <!-- cart product details -->
                <div class="col-md-9 mx-auto px-4 mt-2">
                    <div class="row h-100">
                        <!-- product name  -->
                        <div class="left-box-info col-6 card-title">
                            <p class="mb-3 fw-bold">Nike Dunk Low Retro Premium</p>
                            <div class="info">
                                <p class="mb-3">Color: Silver</p>
                                <p class="mb-3">Size: 40.5</p>
                                <p class="mb-3">Quantity: 1</p>
                            </div>
                        </div>
                        <div class="right-box-info col-6">
                            <div>3,519,000₫</div>
                            <img class="mb-3" src="img/trash-icon.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 px-5">
            <button class="btn bg-dark text-white fw-bold w-100 py-3">CHECK OUT</button>
            <h4 class="py-3 fw-bold">ORDER SUMMARY</h4>
            <div class="row">
                <div class="col">
                    <div>2 items</div>
                    <div>Delivery</div>
                </div>
                <div class="col right-box">
                    <div>7,038,000₫</div>
                    <div>0</div>
                </div>
            </div>
            <div class="row fw-bold py-3">
                <div class="col">
                    <div>Total</div>
                </div>
                <div class="col right-box">
                    <div>7,038,000₫</div>
                </div>
            </div>
        </div>
    </div>
</div>