<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-6 p-0">
            <div class="left-box row">
                <div class="mb-3 mx-auto text-center">
                    <img src="/img/logo.png" alt="" />
                </div>
                <div class="header-text mb-2 text-center fs-3">
                    <p>LOGIN</p>
                </div>

                <div class="header-text text-dark fs-6">
                    <small>Username</small><small class="text-danger">*</small>
                </div>
                <div class="input-group mb-3">
                    <input
                        type="text"
                        class="form-control fs-6"
                        placeholder="Username"
                    />
                </div>
                <div class="header-text fs-6">
                    <small>Password</small><small class="text-danger">*</small>
                </div>
                <div class="input-group mb-3">
                    <input
                        type="password"
                        class="form-control fs-6"
                        placeholder="Password"
                    />
                </div>
                <div class="text mb-4">
                    <a class="text-warning" href="">Forgot password</a>
                </div>
                <div class="input-group mb-3">
                    <button
                        class="btn btn-lg btn-dark w-20 fs-6 mx-auto text-center"
                        placeholder="Password"
                    >Login</button>
                </div>

                <div class="row mx-auto text-center">
                    <small class="p-0">Don't have account?
                        <a class="text-warning" href="#">Sign Up</a></small>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <img src="/img/background-login.png" class="img-bg" alt="" />
        </div>
    </div>
</div>