<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-6 p-0">
            <div class="left-box row m-0">
                <div class="mb-4 mx-auto logo-container">
                    <img src="/assets/img/logo.png" alt="logo">
                    SHOESHI
                </div>

                <div class="header-text mb-2 text-center fs-3">
                    <p>LOGIN</p>
                </div>

                <form name="login-form">
                    <div class="mb-3">
                        <label for="username-login" class="form-label">Username <small class="text-danger">*</small></label>
                        <input
                            id="username-login"
                            type="text"
                            class="form-control fs-6"
                            placeholder="Username"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="password-login" class="form-label">Password <small class="text-danger">*</small></label>
                        <input
                            id="password-login"
                            type="password"
                            class="form-control fs-6"
                            placeholder="Password"
                            required
                        />
                        <div class="form-text">
                            <a class="text-link" href="#">Forgot password?</a>
                        </div>
                    </div>
                    <div class="btn-container mx-auto mb-3">
                        <button
                            class="btn btn-lg btn-dark w-20 fs-6 mx-auto text-center"
                            type="submit"
                        >Login
                        </button>
                    </div>
                </form>

                <div class="row mx-auto text-center">
                    <p class="p-0 fs-6">Don't have account?
                        <a class="text-link" href="/signup">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <img src="assets/img/background-login.png" class="img-bg" alt="background-shoes" />
        </div>
    </div>
</div>