<div class="container-fluid">
    <div class="row align-items-top">
        <div class="col-lg-6 p-0">
            <div class="left-box row">
                <div class="mb-2 mx-auto text-center">
                    <img src="/img/logo.png" alt="" />
                </div>
                <div class="header-text mb-2 text-center fs-3">
                    <p>SIGN UP</p>
                </div>

                <form class="form-signup">

                    <div class="header-text text-dark fs-6">
                        <small>Username</small><small
                            class="text-danger"
                        >*</small>
                    </div>
                    <div class="input-group mb-2">
                        <input
                            type="text"
                            class="form-control fs-6"
                            placeholder="Username"
                            id="username"
                        />
                    </div>
                    <div class="header-text fs-6">
                        <small>Password</small><small
                            class="text-danger"
                        >*</small>
                    </div>
                    <div class="input-group">
                        <input
                            type="password"
                            class="form-control fs-6"
                            placeholder="Password"
                            id="password"
                        />
                    </div>
                    <p class="text-muted email-require mb-2">Minimum of 8
                        characters Include letters and numbers</p>

                    <div class="header-text fs-6">
                        <small>Email</small><small class="text-danger">*</small>
                    </div>
                    <div class="input-group mb-2">
                        <input
                            type="email"
                            class="form-control fs-6"
                            placeholder="Email"
                            id="email"
                        />
                    </div>

                    <div class="header-text fs-6">
                        <small>Full Name</small><small
                            class="text-danger"
                        >*</small>
                    </div>
                    <div class="input-group mb-2">
                        <input
                            type="text"
                            class="form-control fs-6"
                            placeholder="Full Name"
                            id="full-name"
                        />
                    </div>

                    <div class="header-text fs-6">
                        <small>Gender</small><small
                            class="text-danger"
                        >*</small>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <label for="male" class="mr-3">Male</label>
                                <input
                                    type="radio"
                                    id="male"
                                    name="gender"
                                    class="form-check-input"
                                />
                            </div>

                            <div class="form-check form-check-inline">
                                <label for="male" class="mr-3">Female</label>
                                <input
                                    type="radio"
                                    id="female"
                                    name="gender"
                                    class="form-check-input"
                                />
                            </div>

                            <div class="form-check form-check-inline">
                                <label for="male" class="mr-3">Other</label>
                                <input
                                    type="radio"
                                    id="other"
                                    name="gender"
                                    class="form-check-input"
                                />
                            </div>

                        </div>
                    </div>
                    <div class="input-group mb-2">
                    </div>

                    <div class="header-text fs-6">
                        <small>Phone Number</small><small
                            class="text-danger"
                        >*</small>
                    </div>
                    <div class="input-group mb-2">
                        <input
                            type="tel"
                            class="form-control fs-6"
                            placeholder="Phone Number"
                            id="phone-number"
                        />
                    </div>

                    <div class="header-text fs-6">
                        <small>Address</small><small
                            class="text-danger"
                        >*</small>
                    </div>
                    <div class="input-group mb-2">
                        <input
                            type="text"
                            class="form-control fs-6"
                            placeholder="Address"
                            id="address"
                        />
                    </div>

                    <div class="header-text fs-6">
                        <small>Date of Birth</small><small
                            class="text-danger"
                        >*</small>

                    </div>
                    <div class="input-group mb-3">
                        <input
                            type="date"
                            class="form-control fs-6"
                            id="birthday"
                        />
                    </div>

                    <div class="input-group mb-3">
                        <button
                            class="btn btn-lg btn-dark w-20 fs-6 mx-auto text-center"
                            placeholder="Password"
                        >Login</button>
                    </div>
                    <div class="row mx-auto text-center">
                        <small class="p-0">Already have account?
                            <a class="text-warning" href="#">Login</a></small>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-lg-6 p-0">
            <img src="/img/background-login.png" class="img-bg" alt="" />
        </div>
    </div>
</div>