<div class="container-fluid mx-0">
    <div class="body-head">
        <p class="body-tittle"> MEN </p>
    </div>
    <div class="body-container">
        <div class="product-filter">
            <p>Filters</p>
            <div class="product-name-block">
                <p>Product name</p>
                <input class="product-name">
            </div>
            <div class="component">
                <p>Category</p>
                <div class="list">
                    <div class="list-component">
                        <input type="checkbox" class="list-checkbox">
                        <p>Slides</p>
                    </div>
                    <div class="list-component">
                        <input type="checkbox" class="list-checkbox">
                        <p>Running shoes</p>
                    </div>
                    <div class="list-component">
                        <input type="checkbox" class="list-checkbox">
                        <p>Sneakers</p>
                    </div>
                </div>
            </div>
            <div class="component">
                <p>Brand</p>
                <div class="list">
                    <div class="list-component">
                        <input type="checkbox" class="list-checkbox">
                        <p>Nike</p>
                    </div>
                    <div class="list-component">
                        <input type="checkbox" class="list-checkbox">
                        <p>Adidas</p>
                    </div>
                    <div class="list-component">
                        <input type="checkbox" class="list-checkbox">
                        <p>New Balance</p>
                    </div>
                </div>
            </div>
            <div class="component">
                <p>Price</p>
                <p class="price">600,000 ₫ - 9,000,000 ₫ </p>
                <input type="range" class="form-range" id="customRange1">
            </div>
        </div>
        <div class="main-content">
            <div class="content-header">
                {{!-- <p class="content-path">Home/ <span class="content-Subpath"> Men</span></p> --}}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a>Men</a></li>
                    </ol>
                </nav>
                <div class="sort-info">
                    <p class="sort-content">Sort by: <span class="sort-detail">Price (low-high)</span></p>
                    <svg class="sort-icon" width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.63593 5.56062L11.5857 0.610901L12.9999 2.02511L6.63593 8.38912L0.271973 2.02511L1.68619 0.610901L6.63593 5.56062Z" fill="#111111"/></svg>
                </div>
            </div>
            <div class="product-container">
                <div class="row row-cols-4 row-col-md-1">
                    <div class="col">
                        <div class="product mx-1 my-2">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product mx-1 my-1">
                            <img class="product-img" src="/assets/img/product.png">
                            <div class="product-details">
                                <p class="product-name">Nike Dunk Low</p>
                                <p class="product-branch">Nike</p>
                                <p class="product-price">3,829,000 ₫</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>