.card-header .action-table {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.card-header .action-table>div {
	display: flex;
	gap: 10px;
	font-size: 16px;
	align-items: center;
}
.card-header .action-table label {
	white-space: nowrap;
}
.card-header .search-table input {
	width: 100%;
}
.card-header .search-table button {
	border: 1px solid var(--my-black);
	height: 100%;
	border-radius: 3px;
	font-weight: 500;
}

.modal-footer {
  justify-content: center;
}
.modal-footer button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 50px;
}

/*PAGINATION*/
.pagination li:hover {
	cursor: pointer;
}

/*TOAST NOTI*/
.toast i {
  font-size: 16px;
}

.toast.error .toast-header {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}
.toast.error .toast-body {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}
.toast button {
  color: var(--bs-white);
  font-size: 20px;
  padding: 0;
}
.toast button:focus {
  border: none;
}

.toast.success .toast-header {
  background-color: var(--bs-success);
  color: var(--bs-white);
}
.toast.success .toast-body {
  background-color: var(--bs-success);
  color: var(--bs-white);
}
.toast .mail-text {
  font-weight: 600;
}