<div class="container mb-3">
    <div class="row mt-5">
        <div class="left-box-img col-sm p-2">
            <div class="nike p-0">
                <a href=""><img src="img/nike.png" alt="" /></a>
                <small class="nike-title">NIKE</small>
            </div>
        </div>
        <div class="right-box-img col-sm p-2">
            <div class="new-balance p-0">
                <a href=""><img src="img/new-balance.png" alt="" /></a>
                <small class="nike-title">NEW BALANCE</small>
            </div>
            <div class="adidas p-0">
                <a class="adidas-img" ref=""><img src="img/adidas.png" alt="" /></a>
                <small class="nike-title">ADIDAS</small>
            </div>
        </div>
    </div>
</div>
<div class="info container my-4">
    <div class="row pt-4">
        <div class="col">
            <img class="mr-2" src="img/truck.svg" alt="" />
            <div class="text">
                <small class="title font-weight-bold mb-2">COD SHIPPING NATIONWIDE</small>
                <p>Free shipping nationwide for orders from 999,000 VND.</p>
            </div>
        </div>
        <div class="col">
            <img class="mr-2" src="img/title.svg" alt="" />
            <div class="text">
                <small class="title font-weight-bold mb-2">100% QUALITY</small>
                <p>Committed to genuine products.</p>
            </div>
        </div>
        <div class="col">
            <img src="img/card.svg" alt="" />
            <div class="text">
                <small class="title font-weight-bold mb-2">EASY PAYMENT</small>
                <p>Payment methods are diverse and extremely convenient.</p>
            </div>
        </div>
        <div class="col">
            <img src="img/hourglass.svg" alt="" />
            <div class="text">
                <small class="title font-weight-bold mb-2">SAVE TIME</small>
                <p>Online shopping is easier.</p>
            </div>
        </div>
    </div>
</div>

<div class="container p-0 mb-5">
    <div class="fs-2 fw-bold mb-4">F E A T U R E D</div>

    <div class="sample-featured row">
        <div class="col p-0 mx-2">
            <img src="img/nike-sample.png" alt="" />
            <div class="detail p-2">
                <div>Nike Dunk Low</div>
                <div class="text-black-50">Nike</div>
                <div>3,829,000</div>
            </div>
        </div>
        <div class="col p-0 mx-2">
            <img src="img/nike-sample.png" alt="" />
            <div class="detail p-2">
                <div>Nike Dunk Low</div>
                <div class="text-black-50">Nike</div>
                <div>3,829,000</div>
            </div>
        </div>
        <div class="col p-0 mx-2">
            <img src="img/nike-sample.png" alt="" />
            <div class="detail p-2">
                <div>Nike Dunk Low</div>
                <div class="text-black-50">Nike</div>
                <div>3,829,000</div>
            </div>
        </div>
        <div class="col p-0 mx-2">
            <img src="img/nike-sample.png" alt="" />
            <div class="detail p-2">
                <div>Nike Dunk Low</div>
                <div class="text-black-50">Nike</div>
                <div>3,829,000</div>
            </div>
        </div>
        <div class="col p-0 mx-2">
            <img src="img/nike-sample.png" alt="" />
            <div class="detail p-2">
                <div>Nike Dunk Low</div>
                <div class="text-black-50">Nike</div>
                <div>3,829,000</div>
            </div>
        </div>
    </div>
</div>

<div class="brand-container container my-4">
    <div class="row py-3">
        <div class="col d-flex justify-content-center">
            <img class="mr-2" src="img/adidas-logo.png" alt="" />
        </div>
        <div class="col d-flex justify-content-center">
            <img class="mr-2" src="img/nike-logo.png" alt="" />
        </div>
        <div class="col d-flex justify-content-center">
            <img class="mr-2" src="img/newbalance-logo.png" alt="" />
        </div>
        <div class="col d-flex justify-content-center">
            <img class="mr-2" src="img/converse-logo.png" alt="" />
        </div>
        <div class="col d-flex justify-content-center">
            <img class="mr-2" src="img/vans-logo.png" alt="" />
        </div>
    </div>
</div>