.logo-container {
    width: fit-content;
}
.header-text {
    font-weight: 600;
}

.btn-container {
    width: fit-content;
}
.btn-container button {
    text-transform: uppercase;
    font-weight: 600;
}

.text-link {
    color: var(--my-orange);
}

.img-bg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.left-box {
    display: flex;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
}
.left-box.row>* {
    padding: 0;
}