.img-bg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.forgot-password-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
#form-forgot-password button {
  font-weight: 600;
}

/* TOAST FORGOT PASSWORD */
.toast i {
  font-size: 16px;
}

.toast.error .toast-header {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}
.toast.error .toast-body {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}
.toast button {
  color: var(--bs-white);
  font-size: 20px;
  padding: 0;
}
.toast button:focus {
  border: none;
}

.toast.success .toast-header {
  background-color: var(--bs-success);
  color: var(--bs-white);
}
.toast.success .toast-body {
  background-color: var(--bs-success);
  color: var(--bs-white);
}
.toast .mail-text {
  font-weight: 600;
}