.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.row.space {
  margin: 40px;
}

.form-details,
.form-password {
  padding-right: 100px;
}

@media (max-width: 960px) {
  .form-details {
    padding-right: 0px;
  }
}

#fileInput {
  display: none;
}

#imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}