body {
    padding: 0;
}

.img-bg {
    height: 100vh;
    width: 100%;
    display: flex;
}

.left-box {
    display: flex;
    padding: 40px 100px 40px 100px;
    justify-content: center;
    align-items: center;
}

.email-require {
    display: flex;
    font-size: 12px;
}

