@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #272829;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 39, 40, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --my-black: #111111;
  --my-orange: #FF7100;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc
}​

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

#header-container {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  padding: 5px 36px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.10);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.logo-container {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Koulen', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: var(--bs-body-color);
}
.logo-container img {
  width: 55px;
}

.menu-header {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
a {
  text-decoration: none;
}
#header-container .menu-header a {
  color: var(--bs-body-color);
}

#header-container .menu-header a:nth-child(1), #header-container .menu-header a:nth-child(2), #header-container .menu-header a:nth-child(3){
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  border-radius: 5px;
  background: #F5F5F5;
  padding: 0 10px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  padding: 0;
}
.search-bar input:focus {
  outline: none;
}
#header-container i {
  font-size: 24px;
}
.search-bar i {
  font-size: 20px;
}

.cart{
  position: relative;
}
.number-cart-items {
  background: #FF7100;
  border-radius: 100px;
  display: flex;
  width: 18px;
  height: 18px;
  padding: 0px 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: -4px;
  bottom: -1px;
  font-size: 12px;
  color: #FFF;
  font-weight: 500;
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
}
.page-main-content {
  width: 100%;
  margin-top: 60px;
}

footer {
  width: 100%;
  background-color: var(--my-black);
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  font-size: 14px;
  color: white;
}
footer a {
  color: white;
}
.helper-links {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  height: fit-content;
}
footer .heading {
  text-transform: uppercase;
  font-weight: 700;
}
footer .get-help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links {
  display: flex;
  gap: 20px;
  font-size: 24px;
}

.toggle-menu-sidebar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .toggle-menu-sidebar {
    display: inline-block;
    font-size: 20px;
    color: var(--bs-body-color);
  }
  .menu-header {
    display: none;
  }
}

.offcanvas.offcanvas-end {
  width: 200px;
}
.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offcanvas-body a {
  color: var(--bs-body-color);
  width: fit-content;
}
.offcanvas-body .search-bar {
  height: 40px;
}