<div id='color-size-container'>
  <h3>colors, sizes</h3>

  <div class='tables container-fluid overflow-hidden'>
    <div class='row'>
      <!-- Color table-->
      <div class='col-lg px-0 card'>
        <div class='card-header'>
          <p class='my-0'>colors</p>
          <button type='button' class='btn btn-dark' onclick="toggleAddColor()">add</button>
        </div>
        <div class='card-body table-responsive'>
          <table class="table table-striped table-hover color">
            <thead>
              <tr>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
            <tbody class="table-group-divider" id="color-table"></tbody>
          </table>
        </div>
      </div>

      <!-- Size table-->
      <div class='col-lg px-0 card'>
        <div class='card-header'>
          <p class='my-0'>sizes</p>
          <button type='button' class='btn btn-dark' onclick="toggleAddSize()">add</button>
        </div>
        <div class='card-body table-responsive'>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Size</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Size</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody class="table-group-divider" id="size-table"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{! Modal color }}
<div
  class='modal'
  id='modal-manage-color'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
    {{!-- id='modal-manage-color' --}}
  >
    <form class='modal-content'>
      <div class='modal-header'>
        <p id='action-color'></p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body row m-0'>
				<div class="col-6">
					<label for='item-name'>Name:</label>
					<input type='text' id="item-name" required />
				</div>
				<div class="col-3">
					<p>Color code: <span id="color-code-chosen"></span></p>
					<input type='color' id="item-color" onchange='showColorCode(event.target.value)'/>
				</div>
      </div>
      <div class='modal-footer'>
        <button type='submit' class='btn btn-dark'>save</button>
      </div>
    </form>
  </div>
</div>

{{! Modal size }}
<div
  class='modal'
  id='modal-manage-size'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <form class='modal-content'>
      <div class='modal-header'>
        <p id='action-size'></p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
				<label for="item-size">Size</label>
				<input type='number' step="0.01" id="item-size"/>
      </div>
      <div class='modal-footer'>
        <button type='submit' class='btn btn-dark'>save</button>
      </div>
    </form>
  </div>
</div>

{{! Modal delete }}
<div
  class='modal'
  id='modal-delete-item'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
    id='modal-delete-item'
  >
    <form class='modal-content'>
      <div class='modal-header'>
        <p>Sure you want to delete?</p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete this?
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >No, cancel</button>
        <button type='submit' class='btn btn-danger'>Yes, confirm</button>
      </div>
    </form>
  </div>
</div>

<div id="toast-noti-product"></div>

{{#section 'scripts'}}
  <script src='/js/templates/toast.js'></script>
  <script src='/js/color-size.js'></script>
{{/section}}
