<div id='color-size-container'>
  <h3>colors, sizes</h3>

  <div class='tables container-fluid overflow-hidden'>
    <div class='row'>
      <!-- Color table-->
      <div class='col-lg px-0 card'>
        <div class='card-header'>
          <p class='my-0'>colors</p>
          <button type='button' class='btn btn-dark' onclick="toggleAddColor()">add</button>
        </div>
        <div class='card-body table-responsive'>
          <table class="table table-striped table-hover color">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
            <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Black</td>
                <td>
									<div class="color-present"></div>
								</td>
                <td>
                  <button class='edit-btn' onclick="toggleModifyColor(id)">
                    <i class='ri-pencil-line'
                    ></i>
                  </button>
                  <button class='delete-btn' onclick="toggleDeleteItem(id)">
                    <i
                      class='ri-delete-bin-6-line'
                    ></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>White</td>
								<td>
									<div class="color-present"></div>
								</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Green</td>
								<td>
									<div class="color-present"></div>
								</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Size table-->
      <div class='col-lg px-0 card'>
        <div class='card-header'>
          <p class='my-0'>sizes</p>
          <button type='button' class='btn btn-dark' onclick="toggleAddSize()">add</button>
        </div>
        <div class='card-body table-responsive'>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Size</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Size</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>36</td>
                <td>
                  <button class='edit-btn' onclick="toggleModifySize(id)"><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn' onclick="toggleDeleteItem(id)"><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>37</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>38</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>39</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>40</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{! Modal color }}
<div
  class='modal'
  id='modal-manage-color'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <p id='action-color'></p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body row m-0'>
				<div class="col-6">
					<label for='item-name'>Name:</label>
					<input type='text' id="item-name" />
				</div>
				<div class="col-3">
					<p>Color code: <span id="color-code-chosen"></span></p>
					<input type='color' onchange='showColorCode(event.target.value)'/>
				</div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-dark'>save</button>
      </div>
    </div>
  </div>
</div>

{{! Modal size }}
<div
  class='modal'
  id='modal-manage-size'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <p id='action-size'></p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
				<label for="item-size">Size</label>
				<input type='number' id="item-size"/>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-dark'>save</button>
      </div>
    </div>
  </div>
</div>

{{! Modal delete }}
<div
  class='modal'
  id='modal-delete-item'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <p>Sure you want to delete?</p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete this?
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >No, cancel</button>
        <button type='button' class='btn btn-danger'>Yes, confirm</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/color-size.js'></script>