<div id='account-container'>
  <h3>ACCOUNTS</h3>

  <!-- Customer table-->
  <div class='card mb-4'>
    <div class='card-header'>
      <p class='my-0'>CUSTOMERS</p>
      <div class='filter dropdown'>
        <div
          class=''
          type='button'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          Filters
          <i class='ri-filter-3-fill'></i>
        </div>
        <ul class='dropdown-menu dropdown-menu-end'>
          <li><a class='dropdown-item' href='#'>Name</a></li>
          <li><a class='dropdown-item' href='#'>Email</a></li>
        </ul>
      </div>
    </div>
    <div class='card-body'>
      <table id='customer'>
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Time</th>
            <th>Ban</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Time</th>
            <th>Ban</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>AnNguyen</td>
            <td>Nguyễn Văn An</td>
            <td>nva@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>BinhTran</td>
            <td>Trần Thị Bình</td>
            <td>ttb@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>ChauLe</td>
            <td>Lê Minh Châu</td>
            <td>lmc@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>DungPham</td>
            <td>Phạm Thanh Dung</td>
            <td>ptd@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>Giang Đặng</td>
            <td>Đặng Hồng Giang</td>
            <td>dhg@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>HuyBui</td>
            <td>Bùi Xuân Huy</td>
            <td>bxh@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>KhanhDo</td>
            <td>Đỗ Hà Khanh</td>
            <td>dhk@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>LanPhan</td>
            <td>Phan Thế Lân</td>
            <td>ptl@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>NhuVo</td>
            <td>Võ Thanh Như</td>
            <td>vtn@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>Phong Hồ</td>
            <td>Hồ Hải Phong</td>
            <td>hhp@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Admin table-->
  <div class='card mb-4'>
    <div class='card-header'>
      <p class='my-0'>ADMINS</p>
      <div class='filter dropdown'>
        <div
          class=''
          type='button'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          Filters
          <i class='ri-filter-3-fill'></i>
        </div>
        <ul class='dropdown-menu dropdown-menu-end'>
          <li><a class='dropdown-item' href='#'>Name</a></li>
          <li><a class='dropdown-item' href='#'>Email</a></li>
        </ul>
      </div>
    </div>
    <div class='card-body'>
      <table id='admin'>
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Time</th>
            <th>Ban</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration Time</th>
            <th>Ban</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>AnNguyen</td>
            <td>Nguyễn Văn An</td>
            <td>nva@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>BinhTran</td>
            <td>Trần Thị Bình</td>
            <td>ttb@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>ChauLe</td>
            <td>Lê Minh Châu</td>
            <td>lmc@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>DungPham</td>
            <td>Phạm Thanh Dung</td>
            <td>ptd@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>Giang Đặng</td>
            <td>Đặng Hồng Giang</td>
            <td>dhg@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>HuyBui</td>
            <td>Bùi Xuân Huy</td>
            <td>bxh@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>KhanhDo</td>
            <td>Đỗ Hà Khanh</td>
            <td>dhk@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>LanPhan</td>
            <td>Phan Thế Lân</td>
            <td>ptl@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>NhuVo</td>
            <td>Võ Thanh Như</td>
            <td>vtn@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
          <tr>
            <td>Phong Hồ</td>
            <td>Hồ Hải Phong</td>
            <td>hhp@example.com</td>
            <td>09/11/2023</td>
            <td>
              <input class='form-check-input' type='checkbox' value='' />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{{! Modal detail }}
<div
  class='modal'
  id='modal-detail'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-backdrop='static'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <div class='img-frame'>
        </div>
        Van Tran
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body container'>
        <div class='row row-cols-2 g-2'>
          <div class='col'>
            <div class='info-detail'>
              <p>Full name</p>
              <p>Trần Thị Thanh Vân</p>
            </div>
          </div>
          <div class='col'>
            <div class='info-detail'>
              <p>Email</p>
              <p>van@gmail.com</p>
            </div>
          </div>
          <div class='col'>
            <div class='info-detail'>
              <p>Gender</p>
              <p>Female</p>
            </div>
          </div>
          <div class='col'>
            <div class='info-detail'>
              <p>Phone number</p>
              <p>0123456789</p>
            </div>
          </div>
          <div class='col'>
            <div class='info-detail'>
              <p>Address</p>
              <p>123 Vuon Lai</p>
            </div>
          </div>
          <div class='col'>
            <div class='info-detail'>
              <p>Date of birth</p>
              <p>26/08/2003</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src='https://code.jquery.com/jquery-3.7.0.js'
  crossorigin='anonymous'
></script>
<script
  src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js'
  crossorigin='anonymous'
></script>
<script src='/js/datatable-accounts.js'></script>