<div id='account-container'>
  <h3>categories, manufacturers</h3>

  <div class='tables container-fluid overflow-hidden'>
    <div class='row'>
      <!-- Customer table-->
      <div class='col-lg px-0 card'>
        <div class='card-header'>
          <p class='my-0'>categories</p>
          <button type='button' class='btn btn-dark category' onclick="handleAddCate()">add</button>
        </div>
        <div class='card-body table-responsive'>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th> </th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th> </th>
              </tr>
            </tfoot>
            <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Slides</td>
                <td>
                  <button class='edit-btn' onclick="handleModifyCate(id)">
                    <i class='ri-pencil-line'
                    ></i>
                  </button>
                  <button class='delete-btn' onclick="handleDeleteCate(id)">
                    <i
                      class='ri-delete-bin-6-line'
                    ></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Running shoes</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Sneakers</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Admin table-->
      <div class='col-lg px-0 card'>
        <div class='card-header'>
          <p class='my-0'>manufacturers</p>
          <button type='button' class='btn btn-dark manufacturer' onclick="handleAddManu()">add</button>
        </div>
        <div class='card-body table-responsive'>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Nike</td>
                <td>
                  <button class='edit-btn' onclick="handleModifyManu(id)"><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn' onclick="handleDeleteManu(id)"><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Adidas</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>New Balance</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Converse</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Vans</td>
                <td>
                  <button class='edit-btn'><i
                      class='ri-pencil-line'
                    ></i></button>
                  <button class='delete-btn'><i
                      class='ri-delete-bin-6-line'
                    ></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{! Modal detail }}
<div
  class='modal'
  id='modal-manage-item'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <p id='action'></p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <label for='item-name'>Name:</label>
        <input type='text' id='item-name' />
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-dark'>save</button>
      </div>
    </div>
  </div>
</div>

{{! Modal delete }}
<div
  class='modal'
  id='modal-delete-item'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <p>Sure you want to delete?</p>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Are you sure you want to delete this?
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >No, cancel</button>
        <button type='button' class='btn btn-danger'>Yes, confirm</button>
      </div>
    </div>
  </div>
</div>

{{!-- <script
  src='https://code.jquery.com/jquery-3.7.0.js'
  crossorigin='anonymous'
></script>
<script
  src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js'
  crossorigin='anonymous'
></script> --}}
<script src='/js/category-manufacturer.js'></script>